DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=localhost
DB_DATABASE=YourDatabase
DB_UID=sa
DB_PWD=password123
DB_TRUST_SERVER_CERT=yes
DB_TIMEOUT_SECONDS=5

OPENAI_API_KEY=your_key_here
DEFAULT_TABLE=[dbo].[sample_table]